---
import LayoutWithNavBar from "@layout/LayoutWithNavBar.astro";
---

<LayoutWithNavBar title="About me">
    <section>
        <h1 class="default-text">I mainly build stuff for </h1>
    </section>
</LayoutWithNavBar>
