---
import Menu from "./Menu";
import DarkModeSwap from "./DarkModeSwap";
const isDarkMode = Astro.cookies.get("darkMode").boolean();
---

<nav
    class="navbar h-[64px] mx-auto max-w-[960px] bg-eggshell dark:bg-independence border-b border-solid border-zinc-600 box-border"
>
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl default-text"
            >Home</a
        >
    </div>
    <DarkModeSwap
        isDarkMode={isDarkMode}
        className="md:hidden"
        client:visible
    />
    <Menu />
    <DarkModeSwap
        isDarkMode={isDarkMode}
        className="hidden md:inline-grid"
        client:visible
    />
</nav>
