---
import avatarSmall from "@assets/avatar-small.webp";
import avatarLarge from "@assets/avatar-large.webp";
import avatarExtraLarge from "@assets/avatar-extra-large.webp";
import { Image } from "astro:assets";
---

<div class="avatar block md:my-8">
  <div class="w-44 h-44 md:h-64 md:w-64 rounded-full mx-auto">
    <picture>
      <source srcset={avatarExtraLarge.src} media="(min-width: 1024px)" />
      <source srcset={avatarLarge.src} media="(min-width: 768px)" />

      <Image width={500} height={500} src={avatarSmall} alt="my avatar" />
    </picture>
  </div>
</div>
